NEXT_PUBLIC_API_URL=https://api.themoviedb.org/3/
NEXT_PUBLIC_IMG_URL=https://image.tmdb.org/t/p/w500
NEXT_PUBLIC_API_READ_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjMGYxNmZiODZmMTBkZmFlNTc4YmMyZjUzYTVlNGRjMSIsIm5iZiI6MTY5NDE0NjY5My44MzksInN1YiI6IjY0ZmFhMDg1YTM1YzhlMDEzYjNkZmU1MSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.3qObnzH20bgTQHsNu39LAIq5qF6mpCPNi7K_mbyRET0
NEXT_PUBLIC_API_KEY=c0f16fb86f10dfae578bc2f53a5e4dc1
NEXT_PUBLIC_ENV=PROD