@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: 'light';
    default: true;
    prefersdark: false;
    color-scheme: 'dark';
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(63% 0.237 25.331);
    --color-primary-content: oklch(93% 0.034 272.788);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.3125rem;
    --size-field: 0.28125rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: 'dark';
    default: true;
    prefersdark: false;
    color-scheme: 'dark';
    --color-base-100: oklch(0% 0 0);
    --color-base-200: oklch(19% 0 0);
    --color-base-300: oklch(22% 0 0);
    --color-base-content: oklch(87.609% 0 0);
    --color-primary: oklch(55% 0.016 285.938);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(44% 0.017 285.786);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(26% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(35% 0 0);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(62% 0.214 259.815);
    --color-info-content: oklch(89.04% 0.062 264.052);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(90.395% 0.035 142.495);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(19.359% 0.042 109.769);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(12.559% 0.051 29.233);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.3125rem;
    --size-field: 0.28125rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}

* {
    font-family: 'Jost', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none !important;
    --webkit-scroll-width: none;
}

::-webkit-scrollbar {
    width: 0;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
